<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo ROS Subscriber</title>
</head>
<body>
    <h1>Live ROS Topic Data</h1>
    <h2>Count</h2>
    <div id="count-data"></div>

    <h2>ROV Velocity</h2>
    <div id="rov-velocity-data"></div>
    <div id="linear-command">x: 0<br>y: 0 <br> z: 0</div>

    <h2>Surface IMU Stuff</h2>
    <div id="surface-imu"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="static/socketio_listener.js"></script>
</body>
</html>
