<!DOCTYPE html>
<html>
<head>
    <title>WebRTC Video Stream(s)</title>
</head>
<body>
    <div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr); height: 100vh;">
         <iframe id=stream1 src="http://localhost:8889/cv_camera" scrolling="no" style="width: 100%; height: 100%;"></iframe>
         <iframe id=stream2 src="http://localhost:8889/camera_1" scrolling="no" style="width: 100%; height: 100%;"></iframe>
         <iframe id=stream3 src="http://localhost:8889/camera_2" scrolling="no" style="width: 100%; height: 100%;"></iframe>
         <iframe id=stream4 src="http://localhost:8889/camera_3" scrolling="no" style="width: 100%; height: 100%;"></iframe>
    </div>
</body>
</html>